* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

h1, h2, h3, p {
    margin-left: 10%;
    margin-right: 10%;
}

li, a, button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:rgb(0, 0, 0);
    text-decoration: none;
}

button{
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgb(199, 238, 248);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(113, 164, 177, 0.8);
}


header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.section1, .section2, .section3, .section4 {
    margin: 20px 0px;
}

.grid{
    display: grid;
    margin: 0px 10%;
    grid-template-columns: .7fr .7fr .7fr;
    grid-template-rows: 80px 80px 80px;
    place-items: center;
    /* column-gap: 10px; */
}

.grid i{  
    /* width: .7fr;*/
    /* padding: 15px 10px */
    /* height: 80px; */

    /* border: 4px solid black; */
}

.project-img{
    width: 100px;
    height: 80px;
}

.logo{
    cursor: pointer;
    margin-right: auto;
    width: 40px;
    height: 40px;
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
    color:rgb(150, 118, 255);
}

